/* 
  Authors: Alejandro Bensusan (A00440174)
           Ali Alhusseini (A00431699)
           Mike Warren (A00447652)
           Riley O'keefe (A00460983)

  This file defines the styling of the P1.html file. 
*/

/* header font size, padding, and color. */
.headerText {
  color: blue;
  font-size: 20px;
  padding-left: 30px;
}
/* toggle switches size in the header. */
.switchSize {
  height: 35px;
  min-width: 180px;
  width: 180px;
  cursor: pointer;
}

.button {
  background-color: rgb(27, 33, 100);
  border-color: rgb(27, 33, 100);
  color: white;
  border-radius: 5px;
  font-size: 25px;
  font-weight:400;
  width: 65px;
  height: 65px;
  margin: 3px;
  cursor: pointer;
}
#save {
  height: 50px;
  width: 120px;
}
#cancel {
  background-color:rgb(235, 0, 8);
  border-color: rgb(160, 46, 50);
  height: 50px;
  width: 150px;
}
#cancel:hover {
  background-color: red;
}
#inputBox {
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid rgb(27, 33, 100);
  box-shadow: 0 0 10px rgb(27, 33, 100);
  resize: none;
}
#delete {
  background-color: rgb(160, 46, 50);
  border-color: rgb(160, 46, 50);
  width: 117px;
}
#tab {
  background-color: rgb(160, 46, 50);
  border-color: rgb(160, 46, 50);
  width: 118px;
}
#capsLock {
  background-color: rgb(160, 46, 50);
  border-color: rgb(160, 46, 50);
  width: 150px;
}
#return {
  background-color: rgb(160, 46, 50);
  border-color: rgb(160, 46, 50);  
  width: 108px;
}
#shift {
  background-color: rgb(160, 46, 50);
  border-color: rgb(160, 46, 50);
  width: 166px;
}
#space {
  background-color: rgb(160, 46, 50);
  border-color: rgb(160, 46, 50);
  width: 418px;
}

button:hover {
  background-color: rgb(160, 46, 50);
}
