/* 
  Authors: Alejandro 
           Ali Alhusseini
           Mike Warren
           Riley O'keefe 
*/

#caps {
  width: 100px;
}
#backspace {
  width: 100px;
}
#enter {
  width: 100px;
}
#space {
  width: 100px;
}

.headerText {
  color: blue;
  font-size: 20px;
  padding-left: 30px;
}

.inputSize {
  height: 35px;
  min-width: 150px;
  width: 150px;
  cursor: text;
}

.switchSize {
  height: 35px;
  min-width: 150px;
  width: 150px;
  cursor: pointer;
}

.paddingKey {
  padding-top: 10px;
}

.bigInputSize {
  height: 200px;
  width: 622px;
}

.inputButton {
  width: 129px;
  min-height: 46px;
}

.key {
  height: 50px;
  width: 50px;
  font-size: 23px;
  padding-left: 25px;
}

.wordBtn {
  height: 46px;
  min-width: 124px;
  font-size: 23px;
}
