#shift {
  width: 70px;
}
#backspace {
  width: 60px;
}
#quotationMarks {
  width: 35px;
}

.headerText {
  color: blue;
  font-size: 20px;
  padding-left: 30px;
}

.inputSize {
  height: 35px;
  min-width: 150px;
  width: 150px;
}

.paddingKey {
  padding-top: 10px;
}

.keyBoardInputSize {
  width: 10px;
}
